{% extends 'base.html.twig' %}

{% block title %}History{% endblock %}

{% block body %}
    <h1>Historique</h1>
    <h2>Liste des fichiers</h2>
    <ul class="files">
        {% for fileUrl in fileUrls %}
            <li><a href="{{ fileUrl }}" target="_blank">{{ relativePaths[loop.index0] }}</a></li>
        {% else %}
            <li>Aucun fichier trouvé.</li>
        {% endfor %}
    </ul>
    <style>
        .files {
            padding: 10px;
            list-style: inside;
        }
    </style>
{% endblock %}
